/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miami');
@import url('https://fonts.cdnfonts.com/css/real-miami');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');



:root{
    --primary-color:#E6533C;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
main{
    max-width: 1540px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
.header{
    max-width: 1540px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}
.nav-bar{
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo{
    font-style: italic;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 3rem;
}
.nav-box{
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 5rem;
    padding: 14px 4px;
    
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    
    /* gap: 1.2rem; */
}

.nav-item{
    margin-right: 1.5rem;
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.nav-item .home-btn{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 6rem;
    color: white;
    font-weight: 500;
}
.hamburger{
    display: none;
}
#bar{
    font-size:2.5rem;
    color: white;
}

/* Hero Area Design */
.hero-area{
    display: flex;
    margin: 0 30px;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.hero-content{
    width: calc((100% - 15px) / 2);
}
.hero-title{
    color: white;
    font-size: 6rem;
    font-weight: 900;
    line-height: 120%;
}
.curve{
    font-family: "Grey Qo", cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 10rem;
}
.hero-description{
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
.button{
   display: inline-flex;
   gap: 20px;
   margin-top: 10px;
}
.join-btn{
    padding: 15px 30px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}
.download-btn{
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 3rem;
    font-size: 1.2rem;
    color: white;
    background: transparent;
}
.hero-img{
    width: calc((100% - 15px) / 2);
    display: flex;
    align-items: end;
    justify-content: flex-end;
    position: relative;
}

.hero-img img{
    width: 80%;
}

.video{
    position: absolute;
    right: 27vw;
    bottom: 15vw;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.5);
    border-radius: 7px;
    padding: 20px 20px;
 }
 .video2{
    position: absolute;
    left: 28vw;
    bottom: 36vw;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background: rgba(48, 48, 48, 0.5);
    border-radius: 7px;
    padding: 15px 15px;
 }
 #circle{
    color: #E6533C;
    font-size: 3rem;
 }
 .red-circle{

 }
 .text{
    
 }
 
.video-number{
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}

.video-des{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.5);
}
.flexo{
    font-size:2rem ;
}

.habit-area{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    padding-top: 100px;
}
.habit-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
    text-align: center;
}
.habit-description{
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 0px;
    padding-bottom: 60px ;
    width: calc((100% - 30px) / 2);
    margin: 0 auto;
}
.habit-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.habit-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.habit-img img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.habit-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgba(39, 38, 38, 0.8);
}

.habit-subtitle{
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}
.habit-des{
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Run Area  */

.run-area{
    margin: 0px 30px;
    background: rgb(0, 0, 0);
    padding-bottom: 0px;
    padding-top: 100px;
}
.run-container{
    background-color: #343434;
    padding: 30px;
    border-radius: 16px;
}
.run-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15vw;
    background-color: transparent;
}
.run-content{
    width: calc((60% - 30px));
}
.run-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
}
.run-description{
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
}
.run-img{
    width: calc((40% - 30px));
    border-radius: 16px;
}
.run-img img{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}
.run-btn{
    padding: 20px 0px;
}
.ex-btn{
    padding: 15px 60px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

/* BMI Part */

.bmi-header{
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px 0px;
}
.header-content{
    width: calc((60% - 30px));
    padding: 0px 0px;
}
.bmi-header-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    color: white;
    
}
.bmi-header-des{
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}

.bmi-title{
    font-size: 1.7rem;
    font-weight: 900;
    color: white;
}
table,thead,tr,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

.bmi-table{
   padding: 40px 0px;
   
}
td{
    padding: 15px 25px;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    
}
.heading{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
   
}
.bmi-cal{
    background: rgb(34, 34, 34);
    padding: 50px 0px;
    margin: 0px auto;
}
.bmi-container{
    width: calc((100% - 60px));
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 0px auto;
}
.bmi-chart{
    width: 50%;
    
}
.bml-calculate{
    width: 50%;
    
}


.calculate-title{
    font-size: 1.7rem;
    font-weight: 900;
    color: white;
}
.cal-des{
    padding: 15px 0px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
}
.input-field{
    width: 100%;
    border: none;
    padding: 15px 25px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    color: white;
    font-size: 1rem;
}

.input-field::placeholder{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);

}
.bmi-calculate .bmi-form{
    width: 100%;
}

.bmi-form{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 10px;
}
.line-1{
    grid-column: 1/span 6;
    grid-row: 1/span 3;
    /* background-color: #E6533C; */
}
.line-2{
    grid-column: 7/span 6;
    grid-row: 1/span 3;
    /* background-color: #e63cd8; */
}
.line-3{
    grid-column: 1/span 6;
    grid-row: 4/span 3;
    /* background-color: #56e63c; */
}
.line-4{
    grid-column: 7/span 6;
    grid-row: 4/span 3;
    position: relative;

    /* background-color: #3c53e6; */
}
.line-5{
    position: relative;
    grid-column: 1/span 12;
    grid-row: 7/span 3;
    /* background-color: #b7890a; */
}
#down{
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 15px;
    left: 85%;
}
#down2{
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 15px;
    left: 90%;
}

.cal-btn{
    margin: 30px 0px;
    padding: 20px 100px;
    color: white;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;

}

/* Team Area  */

.team-area{
    margin: 0 auto;
    color: black;
    padding: 70px 0px;
}
.team-title{
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    color: white;
    padding: 0;
}
.team-description{
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 10px;
    margin-bottom:50px;
}
.team-gallary{
    margin: 0px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.team-img1{
    border-radius: 10px;
}
.team-gallary img{
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    filter: brightness(50%);
}
.team-img2{
    border-radius: 10px;
}
.team-img3{
    border-radius: 10px;
}
.team-img4{
    border-radius: 10px;
}
.team-img5{
    border-radius: 10px;
}
.team-img6{
    border-radius: 10px;
}

.team-img{
    position: relative;
}
.teamo{
    position: absolute;
    left: 30px;
    bottom: 30px;
 }
.name,.designation{
    background: none;


}
.name{
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
}
.designation{
    font-size: 1rem;
    color: white;
    opacity: 70%;
}


.brand{
    font-style: italic;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}
.brand-des{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    font-weight: 400;
    font-size: 1rem;
}
.footer{
    max-width: 1540px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
}
.footer-content{
    margin: 0px auto;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding: 50px 0px;
    gap: 8vw;
}
.lists{
 padding: 0;
 margin: 0;
 margin-top: 20px;
}
.get-list{
    list-style: none;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}
.get-start{
    font-size: 1.3rem;
    font-weight: 850;
    color: white;
}
.col-1{
    width: 60%;
}
.col-4{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
/* .col-2{
    width: calc((100% / 4));
    border: 1px solid red;
}
.col-3{
    width: calc((100% / 4));
    border: 1px solid red;
} */

hr {
    border: none;           
    height: 1px;            
    background-color: rgb(255, 255, 255); 
    width: calc(100% - 60px);             
    margin: 0px auto;     
    opacity: 0.5;          
    border-radius: 5px;  
  }
.copyright{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    padding: 30px 0px;
}